.Card{
    width: 80%;
    padding: 10% 5%;
    background-color:$DarkGrayishBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: .575rem;
    box-shadow: 0 3px 5px #151414;

    P{
        text-align: center;
    }
    .IdAdvice{
        color:$NeonGreen;
        letter-spacing: .3rem;
        font-size: .8rem;
    }
    .Advice{
        color: $LightCyan;
        font-size: 28px;
    }
    .Divider{
        background-image: url(../assets/images/pattern-divider-mobile.svg);
        width: 295px;
        background-repeat: no-repeat;
        height: 2rem;
        color:$LightCyan
    }
}
button{
    cursor: pointer;
    margin-top: -1.35rem;
    border-radius: 50%;
    border: none;
    padding: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $NeonGreen;
    transition: box-shadow .2s ease;
    &:hover, &:focus{
        box-shadow: 0 0 24px 4px $NeonGreen ;
    }
    svg{
        transform: scale(.7);
    }
}
@media (min-width:376px)and (max-width:599px){
    .Card{
        width: 75%;
        max-width: 444px;
        padding: 2%;
    }
}
@media (min-width:600px) {
    .Card{
        width: 75%;
        max-width: 444px;
        padding: 2%;
        padding-bottom: 3%;
        .Divider{
            background-image: url(../assets/images/pattern-divider-desktop.svg);
            width: 100%;
        }
    }
    button{
        padding:.8rem;
        svg{
            transform: scale(.8);
        }
    }
}